@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* Header styles */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav bar styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}
.ul-items{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px ;
}
nav ul a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.r{
    color: rgb(253, 110, 10);

}
.btn-primary{
    width: 120px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin-right: 25px;
}
.btn2-primary{
    width: 120px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(253, 110, 10);
    background: rgb(255, 255, 255);
    color: rgb(253, 110, 10);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin-right: 25px;
}
/* Banner Styles */

.banner-greedings{
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    color: rgb(71, 71, 71);
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
}
.banner-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(117, 117, 117);
    margin: 15px 0;
}

.banner-profile-pic{
    max-width: 400px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 60px 218px;
}

/* About Section Styles */
.about-container{
    /* max-width: 400px; */
    border: 2px solid black;
    margin: 0 auto;
    /* padding: 200px 100px 100px 100px; */
    margin: 131px 155px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(255, 248, 243);
}
.about-container h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 15px;
}
.about-container p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(117, 117, 117);
}
.about-ditals{
    display: flex;
    justify-content: center;
}
.about-ditals-part{
    display: flex;
    flex-direction: column;
    margin:20px;
    justify-content: space-between;
    /* text-align: justify; */
}
.about-ditals-part p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(117, 117, 117);
}
.about-ditals-part h5{
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    
}

/* Skill Section */

.skills-section{
    margin: 131px 155px;
}
.skill-container{
    display: flex;
    gap: 20px;

}
.skill-content{
    text-align: center;
}
.skill-content h4{
    color: rgb(24, 24, 24);
    font-size: 31px;
    font-weight: 700;
    line-height: 42px;
    margin: 25px;
}
.skill-content p{
    color: rgb(117, 117, 117);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;

}
.skill{
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.skill p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(117, 117, 117);
}
.skill h6{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: rgb(24, 24, 24);
}

/* Resume Section styles*/
.resume-content{
    display: flex;
    gap: 20px;
}


.resume-container{
    margin: 131px 155px;
    /* text-align: center; */
}

.resume-container-title{
    text-align: center;
    margin: 30px 0;
}

.resume-content-headtitle{
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(71, 71, 71);
    margin: 15px 0;
}
.resume-content-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(71, 71, 71);
}
.resume-content-subtitle{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(117, 117, 117);
    margin: 10px 0;
}
.resume-content p{
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(117, 117, 117);
}
hr{
    margin: 10px 5px;
}
.btn-dowonload{
    text-align: center;
    margin: 20px 0;
}

/* Footer Section Styles */
footer{
    display: flex;
    padding: 130px 170px;
    gap: 20px;
    background-color: rgb(255, 248, 243) ;
}
.foot-form{
    display: flex;
    flex-direction: column;
}
.foot-subtitle{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(24, 24, 24);
    
}
.foot-content{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(71, 71, 71);
    padding: 10px 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-input{
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 10px;
    border: none;
    border-radius: 5px;

}
textarea{
    width: 300px;
    height: 100px;
    padding: 15px;
    border: none;
    border-radius: 5px ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(117, 117, 117);
}